
psec3{
float:left;
display:block;
width:100%;
margin-top:0px;

}
probt{
width:100%;
float:left;
padding-bottom:50px;
text-align:center;
font-size:60px;
font-family: 'Open Sans Condensed', sans-serif;
color:#db0812;
}
@media screen and (min-width: 1000px) {
psec1{
position:absolute;
top:0vw;
left:0;
width:100%;
height:600px;
overflow:hidden;
z-index:0;
border-bottom:2px solid #db0812);
background-image:url('../img/w3.jpg');
background-position:center;
background-size:cover;
background-attachment:fixed;
}

psec111{
position:absolute;
top:0vw;
left:0;
width:100%;
height:600px;
overflow:hidden;
z-index:0;
border-bottom:2px solid #db0812;
background-image:url('../img/w232.jpg');
background-position:center;
background-size:cover;
background-attachment:fixed;
}
psec2{
float:left;
display:block;
width:100%;
margin-top:600px;
min-height:100%;
}

psec22{
float:left;
display:block;
width:100%;
margin-top:5px;
min-height:100%;
}
psec1 img,psec11 img,psec111 img{
visibility:hidden
}
prodbar{
padding-top:75px;
width:1000px;
display:block;
margin-left:auto;
margin-right:auto;
}
pcat{
padding-top:15px;
padding-bottom:15px;
width:20%;
float:left;
cursor:pointer;
-webkit-transition: background-color 1s; /* For Safari 3.1 to 6.0 */
transition: background-color 1s;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
border:1px solid #db0812;
background-color:white;
}
protext1{
padding-top:50px;
width:1000px;
display:block;
margin-left:auto;
margin-right:auto;
font-family: 'Open Sans Condensed', sans-serif;
font-size:20px;
}
pblock{
position:absolute;
bottom:5vw;
right:100px;
width:750px;
height:210px;
background-color:rgba(219,8,18,0.7);
color:#fcfcef;
display:block;
z-index:+10;
cursor:pointer;
-webkit-transition:background-color 1s; /* For Safari 3.1 to 6.0 */
transition:background-color 1s;
}
mpblock{
position:absolute;
bottom:0;
left:0;
width:100%;
//height:210px;
padding-bottom:20px;
//background-color:rgba(219,8,18,0.7);
background-color:rgba(255,255,255,0.7);
	color:#444444;
display:block;
z-index:+0;
cursor:pointer;
-webkit-transition:background-color 1s; /* For Safari 3.1 to 6.0 */
transition:background-color 1s;
}
a1{
font-family: 'Open Sans Condensed', sans-serif;
font-size:40px;
padding-left:15px;
padding-right:15px;
margin-left:auto;
margin-right:auto;
width:800px;
display:block;
color:#db0812;
}
a4{
line-height: 20px;
font-family:  sans-serif;
font-size:18px;
padding-left:15px;
padding-right:15px;
padding-top:20px;
width:800px;
margin-left:auto;
margin-right:auto;
text-align:justify;
display:block;
}
protext1 av{
width:100%;
font-size:40px;
font-weight:bolder;width:100%;
float:left;
}

}
.plogo{
margin-left:auto;
margin-right:auto;
display:block;
height:100%;
visibility:visible;
}
@media screen and (max-width: 1000px) and (orientation: landscape)  {
psec1,psec11,psec111{
float:left;
width:100%;
z-index:0;
margin-top:60px;
}
}
@media screen and (max-width: 1000px) and (orientation: portrait)  {
psec1,psec11,psec111{
float:left;
width:100%;
z-index:0;
margin-top:0px;
}
}
@media screen and (max-width: 1000px) {
ssec{
float:left;
margin-top:25px;
width:100%;
}
logp{
width:100%;
float:left;
height:50px;
margin-top:40px;
margin-bottom:50px;
}
psec2,psec21,psec22{
float:left;
display:block;
width:100%;
min-height:100%;
margin-top:25px;
}
psec1 img,psec11 img,psec111 img{
width:100%;
height:56.25vw;
}
prodbar{
padding-top:0px;
width:100%;
display:block;
margin-left:auto;
margin-right:auto;

}
pcat{
text-align:center;
padding-top:15px;
padding-bottom:15px;
width:90%;
margin-left:5%;
float:left;
cursor:pointer;
-webkit-transition: background-color 1s; /* For Safari 3.1 to 6.0 */
transition: background-color 1s;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
border:2px solid #db0812;
background-color:white;
}
protext1{
padding-top:20px;
width:95%;
display:block;
margin-left:auto;
margin-right:auto;
font-family: 'Open Sans Condensed', sans-serif;
font-size:20px;
}
protext1 av{
font-size:70px;
font-weight:bolder;width:100%;
float:left;
}
protext1 p{
font-size:30px;width:100%;
float:left;
}
pblock,mpblock{
float:left;
margin-top:-1vw;
width:100%;
//height:150px;
background-color:rgba(219,8,18,1);
color:#fcfcef;
display:block;
z-index:+10;
cursor:pointer;
-webkit-transition:background-color 1s; /* For Safari 3.1 to 6.0 */
transition:background-color 1s;
padding-bottom:10px;
}
a1{
font-family: 'Open Sans Condensed', sans-serif;
font-size:40px;
padding-left:25px;
padding-right:25px;
margin-left:auto;
margin-right:auto;
//width:800px;
display:block;
color:white;
}
a4{

font-family:  sans-serif;
font-size:24px;
float:left;
padding-left:25px;
padding-right:25px;
padding-top:20px;
padding-bottom:20px;
}

}

@media screen and (min-width: 1000px) and (max-width: 1400px){
logp{
width:100%;
float:left;
height:60px;
margin-top:650px;
margin-bottom:20px;
}
	ssec{
float:left;
margin-top:25px;
width:78%;
float:left;
margin-left:11%;
border:2px solid #db0812;
margin-bottom:150px;
}
psec11{
position:absolute;
top:0;
left:0;
width:100%;
height:600px;
overflow:hidden;
z-index:0;
border-bottom:2px solid #db0812;
background-position:center;
background-size:cover;
background-attachment:fixed;
}
psec21{
float:left;
display:block;
width:100%;
margin-top:600px;
margin-bottom:100px;
min-height:100%;
margin-left:auto;
margin-right:auto;
text-align:center;
}
subprobox{
padding-top:100px;
width:930px;
display:block;
margin-left:auto;
margin-right:auto;
font-family: 'Open Sans Condensed', sans-serif;
font-size:20px;
}
subprobox1{
width:930px;
display:block;
margin-left:auto;
margin-right:auto;
font-family: 'Open Sans Condensed', sans-serif;
font-size:20px;
padding-bottom:100px;
}
.subpro{
width:300px;
height:300px;
margin:5px 5px 5px 5px;
float:left;
cursor:pointer;
display:block;
overflow:hidden;
}
.subpro1{
width:455px;
height:355px;
margin:5px 5px 5px 5px;
float:left;
cursor:pointer;
display:block;
overflow:hidden;

}
.scatimg{
position:relative;
width:220%;
height:100%;
margin-left:-60%;
-webkit-transition:transform 2s; /* For Safari 3.1 to 6.0 */
transition:transform 2s;
}
.scatimgg{
position:relative;
width:160%;
height:100%;
margin-left:-10%;
-webkit-transition:transform 2s; /* For Safari 3.1 to 6.0 */
transition:transform 2s;
}
subban{
position:relative;
width:100%;
height:50px;
display:block;
bottom:50px;
background-color:rgba(219,8,18,0.7);
color:white;
text-align:center;
//padding-left:20px;
font-size:28px;
-webkit-transition:background-color 1s; /* For Safari 3.1 to 6.0 */
transition:background-color 1s;
}
subban img{
height:55px;

}
subban1{
position:relative;
width:100%;
height:55px;
display:block;
bottom:85px;
background-color:rgba(219,8,18,0.7);
color:white;
text-align:center;
//padding-left:20px;
font-size:28px;
-webkit-transition:background-color 1s; /* For Safari 3.1 to 6.0 */
transition:background-color 1s;
padding-top:15px;
padding-bottom:15px;
}
subban1 img{
height:55px;

}
subfac{
position:relative;
width:100%;
height:300px;
display:block;
bottom:400px;
background-color:rgba(0,0,0,0.0);
-webkit-transition:background-color 1s; /* For Safari 3.1 to 6.0 */
transition:background-color 1s;
}
subfac1{
position:relative;
width:100%;
height:300px;
display:block;
bottom:470px;
background-color:rgba(0,0,0,0.0);
-webkit-transition:background-color 1s; /* For Safari 3.1 to 6.0 */
transition:background-color 1s;
}
.catimg{
width:200px;
height:50px;
}
}
@media screen and (min-width: 1400px){
	logp{
width:100%;
float:left;
height:60px;
margin-top:750px;
margin-bottom:20px;
}
		ssec{
//float:left;
margin-top:25px;
width:80%;
//float:left;
//margin-left:11%;
margin-bottom:150px;
}
	psec11{
position:absolute;
top:0;
left:0;
width:100%;
height:700px;
overflow:hidden;
z-index:0;
border-bottom:2px solid #db0812;
background-position:center;
background-size:cover;
background-attachment:fixed;
}
psec21{
float:left;
display:block;
width:100%;
margin-top:700px;
margin-bottom:100px;
min-height:100%;
margin-left:auto;
margin-right:auto;
text-align:center;
}
subprobox{
padding-top:100px;
width:1400px;
display:block;
margin-left:auto;
margin-right:auto;
font-family: 'Open Sans Condensed', sans-serif;
font-size:20px;
}
.subpro{
width:450px;
height:450px;
margin:5px 5px 5px 5px;
float:left;
cursor:pointer;
display:block;
overflow:hidden;
}
.scatimg{
position:relative;
width:220%;
height:100%;
margin-left:-60%;
-webkit-transition:transform 2s; /* For Safari 3.1 to 6.0 */
transition:transform 2s;
}
subban{
position:relative;
width:100%;
height:50px;
display:block;
bottom:50px;
background-color:rgba(219,8,18,0.7);
color:white;
text-align:center;
//padding-left:20px;
font-size:28px;
-webkit-transition:background-color 1s; /* For Safari 3.1 to 6.0 */
transition:background-color 1s;
}
subban img{
height:55px;

}
subfac{
position:relative;
width:100%;
height:405px;
display:block;
bottom:505px;
background-color:rgba(0,0,0,0.0);
-webkit-transition:background-color 1s; /* For Safari 3.1 to 6.0 */
transition:background-color 1s;
}
subprobox1{
width:1130px;
display:block;
margin-left:auto;
margin-right:auto;
font-family: 'Open Sans Condensed', sans-serif;
font-size:20px;
padding-bottom:100px;
}
.clear{
	clear:both;
}
.subpro1{
width:555px;
height:355px;
margin:5px 5px 5px 5px;
float:left;
cursor:pointer;
display:block;
overflow:hidden;

}
.scatimgg{
position:relative;
width:110%;
height:100%;
margin-left:-10%;
-webkit-transition:transform 2s; /* For Safari 3.1 to 6.0 */
transition:transform 2s;
}
subban1{
position:relative;
width:100%;
height:55px;
display:block;
bottom:85px;
background-color:rgba(219,8,18,0.7);
color:white;
text-align:center;
//padding-left:20px;
font-size:28px;
-webkit-transition:background-color 1s; /* For Safari 3.1 to 6.0 */
transition:background-color 1s;
padding-top:15px;
padding-bottom:15px;
}
subban1 img{
height:55px;

}
subfac1{
position:relative;
width:100%;
height:300px;
display:block;
bottom:470px;
background-color:rgba(0,0,0,0.0);
-webkit-transition:background-color 1s; /* For Safari 3.1 to 6.0 */
transition:background-color 1s;
}
}
@media screen and (min-width: 800px) and (max-width: 1200px) {/*
subprobox{
padding-top:100px;
width:800px;
display:block;
margin-left:auto;
margin-right:auto;
font-family: 'Open Sans Condensed', sans-serif;
font-size:20px;
}
subpro{
width:390px;
height:390px;
margin:5px 5px 5px 5px;
float:left;
cursor:pointer;
display:block;
overflow:hidden;
}
.scatimg{
position:relative;
width:170%;
height:100%;
margin-left:-35px;
-webkit-transition:transform 2s; 
transition:transform 2s;
}*/
}
@media screen and (max-width: 1000px) {
subprobox,subprobox1{
padding-top:100px;
width:95%;
display:block;
margin-left:auto;
margin-right:auto;
font-family: 'Open Sans Condensed', sans-serif;
font-size:20px;
}
.subpro,.subpro1,.subpro2{
width:100%;
height:71vw;
margin:5px 5px 5px 5px;
float:left;
cursor:pointer;
display:block;
overflow:hidden;
}
.scatimg,.scatimgg{
position:relative;
width:100%;
height:100%;
-webkit-transition:transform 2s; /* For Safari 3.1 to 6.0 */
transition:transform 2s;
}
subban{
position:relative;
width:100%;
height:100px;
display:block;
bottom:116px;
background-color:rgba(219,8,18,0.7);
color:white;
text-align:center;
//padding-left:20px;
padding-top:10px;
font-size:60px;
-webkit-transition:background-color 1s; /* For Safari 3.1 to 6.0 */
transition:background-color 1s;
z-index:+2;
}
subban1{
position:relative;
width:100%;
height:100px;
display:block;
bottom:116px;
background-color:rgba(219,8,18,0.7);
color:white;
text-align:center;
//padding-left:20px;
padding-top:10px;
font-size:60px;
-webkit-transition:background-color 1s; /* For Safari 3.1 to 6.0 */
transition:background-color 1s;
z-index:+2;
}
subban img{
height:90px;

}
subban1 img{
height:45px;

}
subfac,subfac1{
position:relative;
width:100%;
height:100%;
display:block;
bottom:calc(100% + 116px);
background-color:rgba(0,0,0,0.0);
-webkit-transition:background-color 1s; /* For Safari 3.1 to 6.0 */
transition:background-color 1s;
z-index:+1;
}

.catimg{
width:400px;
height:100px;
}
}
.subpro:hover .scatimg,.subpro1:hover .scatimgg,.subpro2:hover .scatimgg{
transform:scale(1.1,1.1);
}
.subpro:hover subban,.subpro1:hover subban1,.subpro2:hover subban{
background-color:rgba(219,8,18,1);
}


.subpro:hover subfac,.subpro1:hover subfac1,.subpro2:hover subfac{
background-color:rgba(0,0,0,0.7);
}
   .jssora02l, .jssora02r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 55px;
            height: 55px;
            cursor: pointer;
          //  background: url('../img/a02.png') no-repeat;
            overflow: hidden;
 opacity:0.5;
-webkit-transition: opacity 1s; /* For Safari 3.1 to 6.0 */
transition: opacity 1s;
        }
   .jssora02l:hover, .jssora02r:hover{
 opacity:1;
}
   .jssora02l{
background: url('../img/al.png') no-repeat;	    background-size:100% 100%;
}
   .jssora02r{
background: url('../img/ar.png') no-repeat;	    background-size:100% 100%;
}
        /*.jssora02l { background-position: -3px -33px; }
        .jssora02r { background-position: -63px -33px; }
        .jssora02l:hover { background-position: -123px -33px; }
        .jssora02r:hover { background-position: -183px -33px; }
        .jssora02l.jssora02ldn { background-position: -3px -33px; }
        .jssora02r.jssora02rdn { background-position: -63px -33px; }
        .jssora02l.jssora02lds { background-position: -3px -33px; opacity: .3; pointer-events: none; }
        .jssora02r.jssora02rds { background-position: -63px -33px; opacity: .3; pointer-events: none; }*/
        /* jssor slider thumbnail navigator skin 03 css *//*.jssort03 .p            (normal).jssort03 .p:hover      (normal mouseover).jssort03 .pav          (active).jssort03 .pdn          (mousedown)*/.jssort03 .p {    position: absolute;    top: 0;    left: 0;    width: 62px;    height: 32px;}.jssort03 .t {    position: absolute;    top: 0;    left: 0;    width: 100%;    height: 100%;    border: none;}.jssort03 .w, .jssort03 .pav:hover .w {    position: absolute;    width: 60px;    height: 30px;    border: white 1px dashed;    box-sizing: content-box;}.jssort03 .pdn .w, .jssort03 .pav .w {    border-style: solid;}.jssort03 .c {    position: absolute;    top: 0;    left: 0;    width: 62px;    height: 32px;    background-color: #000;    filter: alpha(opacity=45);    opacity: .45;    transition: opacity .6s;    -moz-transition: opacity .6s;    -webkit-transition: opacity .6s;    -o-transition: opacity .6s;}.jssort03 .p:hover .c, .jssort03 .pav .c {    filter: alpha(opacity=0);    opacity: 0;}.jssort03 .p:hover .c {    transition: none;    -moz-transition: none;    -webkit-transition: none;    -o-transition: none;}* html .jssort03 .w {    width /**/: 62px;    height /**/: 32px;}

